td {
	font-size: 12px;	
	color: #000000;
}
a:hover {
	font-size: 12px;	
	color: #FF6600;
}
a {
	font-size: 12px;	text-decoration: none;	color: #676767;
	noline:expression(this.onfocus=this.blur);
}
img{
	border:0;
}
.img1{
	border:1;
}
.blue {
	font-size: 12px;	
	color: #034683;
}
.bgcolor {
	font-size: 12px;	
	color: #1980DB;
}
.btn_grey {
	font-family: "ו";	font-size: 12px;color: #000000;	
	background-color: #eeeeee;cursor: hand;padding:1px;height:19px;
	border-top: 1px solid #FAEAC9;border-right:1px solid #663300;
	border-bottom: 1px solid #663300;border-left: 1px solid #FFFFFF;
	background:url(../images/btn.gif);
}
input{
	font-family: "ו";
	font-size: 12px;
	color: #333333;
	border: 1px solid #9D741C;

}
.word_white{
 color:#FFFFFF;
}
.word_deepgrey{
 color:#999999;
}
.word_orange{
 color:#9A6600;
}
.word_orangeB{
 color:#9A6600;
 font-weight: bold;
}
.noborder{
border:none;
}
.word_gray{
 color:#dddddd;
}
body {
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	background:url(../images/bg.gif)
}
.textarea {
	font-family: "ו";
	font-size: 12px;
	color: #333333;
	border: 1px solid #999999;
}
.tableBorder {
	border: #D8D8D8 1px solid;
}
.tableBorder_dashed {
	border: #D8D8D8 1px dashed;
}
.tableBorder_l {
	border: #D8D8D8 1px solid;
	border-bottom-style:none;
	border-left-style:none;
	border-top-style:none;
}
.tableBorder_lb {
	border: #D8D8D8 1px solid;
	border-left-style:none;
	border-top-style:none;
}
.tableBorder_l_dashed {
	border: #D8D8D8 1px dashed;
	border-bottom-style:none;
	border-left-style:none;
	border-top-style:none;
}
.tableBorder_T_dashed {
	border: #D8D8D8 1px dashed;
	border-bottom-style:none;
	border-left-style:none;
	border-right-style:none;
}
.tableBorder_LTR_dashed {
	border: #D8D8D8 1px dashed;
	border-bottom-style:none;
}
.tableBorder_B_dashed {
	border: #D8D8D8 1px dashed;
	border-top-style:none;
	border-left-style:none;
	border-right-style:none;
}
.hidden_a_line{
	noline:expression(this.onfocus=this.blur);
}
hr{
border-style:dashed;
color:#CCCCCC;
}